
/*
 * Please don't modify this file, use main.css instead.
 * @author Peter Sommerhoff<peter@petersommerhoff.com>
 */

* {
  color: #fff;
  text-shadow: 1px 1px 0 #000;
  box-sizing: border-box;
  font-family: Ubuntu, Helvetica, Verdana, Arial, sans-serif;
}

html {
  background: linear-gradient(to bottom, #43cea2, #185a9d);
  min-height: 100vh;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

code {
  margin: 0.1rem 0.5rem;
  padding: 0.2rem 0.5rem 0.1rem 0.5rem;
  font-family: monospace;
  border-radius: 0.2rem;
  border: 1px dotted #fff;
}

p {
  margin: 1.5rem 0.5rem;
}

h1 {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.outlined {
  height: 2rem;
  border: 1px solid #fff;
  margin-bottom: 5rem;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.box {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid #fff;
  border-radius: 0.2rem;
  padding: 2rem;
  text-align: center;
}

@media (width > 991px) {
  body {
    font-size: 2.2rem;
  }

  p {
    margin: 2.5rem 1rem;
  }

  h1 {
    margin-top: 5rem;
    margin-bottom: 3rem;
  }
}
