.page__grid {
  display: grid;
  grid-template-areas: "header" "content" "sidebar" "footer";
  grid-gap: 1rem;
}

.page__header {
  grid-area: header;
}

.page__content {
  grid-area: content;
}

.page__relatedContent {
  grid-area: sidebar;
}

.page__footer {
  grid-area: footer;
}

@media (width > 991px) {
  .page__grid {
    grid-template-rows: auto minmax(10rem, 30rem) auto;
    grid-template-columns: 75% 25%;
    grid-template-areas: "header header" "content sidebar" "footer footer";
  }
}
